- - TorinometeoGAteway WeeWx - -
$current.dateTime.format("%H:%M")
$current.dateTime.format("%d/%m/%y")
------SEZIONE TEMP-------- (riga 04)
$current.outTemp.formatted
$day.outTemp.max.formatted
$day.outTemp.maxtime
$day.outTemp.min.formatted
$day.outTemp.mintime
$current.heatindex.formatted
$day.heatindex.max.formatted
$day.heatindex.maxtime
$current.windchill.formatted
$day.windchill.min.formatted
$day.windchill.mintime
------SEZIONE UMID-------- (riga 16)
$current.outHumidity.formatted
$day.outHumidity.max.formatted
$day.outHumidity.maxtime
$day.outHumidity.min.formatted
$day.outHumidity.mintime
------SEZIONE DEW-------- (riga 22)
$current.dewpoint.formatted
$day.dewpoint.max.formatted
$day.dewpoint.maxtime
$day.dewpoint.min.formatted
$day.dewpoint.mintime
------SEZIONE BARO-------- (riga 28)
$current.barometer.formatted
$day.barometer.max.formatted
$day.barometer.maxtime
$day.barometer.min.formatted
$day.barometer.mintime
------SEZIONE VENTO--------- (riga 34)
$current.windSpeed.formatted
$current.windDir.formatted
$day.wind.max.formatted
$current.windGustDir.formatted
$day.wind.maxtime
------SEZIONE PRECIPITAZIONI------ (riga 40)
$day.rain.sum.formatted
$current.rainRate.formatted
--
--
$month.rain.sum.formatted
$year.rain.sum.formatted
- - TorinometeoGAteway WeeWx - -
